{% extends 'base.html' %}

{% block header_text %}Start a new To-Do list{% endblock %}

{% block form_action %}/lists/new{% endblock %}

<!--<html>-->
    <!--<title>To-Do lists</title>-->
    <!--<body>-->
        <!--<h1>-->
            <!--Start a new To-Do list-->
        <!--</h1>-->
        <!--<form method="POST" action="/lists/new">-->
            <!--<p style="text-align: center;">-->
                <!--<input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />-->
            <!--{% csrf_token %}-->
            <!--</p>-->
        <!--</form>-->
    <!--</body>-->
<!--</html>-->

